main {
    height: 100vh;
    width: 100%;
    background-color: rgb(27, 48, 123);
    display: flex;
    justify-content: center;
    align-items: center;

    #quote-box {
        width: 70%;
        background-color: white;
        border-radius: 30px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;

        .row {
            width: 90%;
        }

        #text {
            display: inline-block;
            box-sizing: content-box;
            border: none;
            font: normal 40px/1 "Aladin", Helvetica, sans-serif;
            color: rgba(48,48,48,1);
            text-align: center;
            text-transform: normal;
            -o-text-overflow: clip;
            text-overflow: clip;
            text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67); 
            animation: fade-in 1s;
        }

        #author {
            text-align: right;
            font-size: 50px;
            color: rgba(0,0,0,0.3);
            font-weight: 900;
            animation: fade-in 1.5s;
        }

        #new-quote,#tweet-quote {
            background-color: rgba(0,0,0,0);
            border: none;
            margin: 20px 20px;
            width: 150px;
        
            &.criss-cross .gps-button {
                background: linear-gradient(to right, rgba(255,255,255,0), #fff 50%) 250% 100% / 100% 0 no-repeat, linear-gradient(to right, #3eaad8, #3eaad8) 100% 100% / 100% 2px no-repeat, linear-gradient(to right, #3eaad8, #3eaad8) 100% 0% / 100% 2px no-repeat, linear-gradient(to right, #3eaad8, #3eaad8) 0 0 / 2px 100% no-repeat, linear-gradient(to right, #3eaad8, #3eaad8) 100% 0 / 2px 100% no-repeat;
                color: #008cd8;
                cursor: pointer !important;
                    display: inline-block;
                    font: normal normal 20px / 1.35 "Work Sans", Helvetica, Arial, Verdana, sans-serif;
                    padding: 5px 8px;
                text-decoration: none !important;
                transition: all .45s ease-in-out; }
            
            &.criss-cross .gps-button:hover, &.criss-cross .gps-button:focus {
                background-position: 0 100%, 100% 0;
                color: #000;
                outline: none;
                transition: all .45s ease-in-out; }
        }
    }

}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }